## Retrieve Google Books Ngram Dataset

Source: https://www.kaggle.com/datasets/wheelercode/english-word-frequency-list

In [1]:
import pandas as pd

### Read Ngram Dataset into Pandas

The csv file exceeds the 100mb size limit. The code cannot be run, so this was run locally instead.

In [ ]:
csv_path = "ngram_freq.csv"
data = pd.read_csv(csv_path)

### Filter to 5-Letter Words

In [ ]:
five_letter_words = data[data['word'].str.len() == 5]

### Save to CSV

In [ ]:
five_letter_words.to_csv("all_5_letter_words.csv", index=False)

## Further Filtering to 5-Letter Words from comb_words.txt

### Load comb_words.txt

In [13]:
with open("words/"+ "comb_words.txt", "r") as file:
    text_file_words = [line.strip() for line in file]
    text_file_df = pd.DataFrame(text_file_words, columns=["word"])

### Load all_5_letter_words.csv

In [14]:
all_5_letter_words = pd.read_csv("words/" + "all_5_letter_words.csv")
all_5_letter_set = set(five_letter_words['word'])

### Inner Join "word" column from text_file_df to "word" column from all_5_letter_words

In [16]:
filtered_df = text_file_df.merge(all_5_letter_words, left_on="word", right_on="word", how="inner")
filtered_df.head()

    word  count
0  aahed  26620
1  aalii   2383
2  aapas    299
3  aargh  13918
4  aarti  18483

### Save filtered_df

In [17]:
filtered_df.to_csv("words/" + "filtered_5_letter_words.csv", index=False)